#add_contact_form {
	/*position: absolute;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: space-around;
	width: 300px;
	height: auto;
}

#add_contact_form_added {
	position: absolute;
	width: 300px;
	height: 90px;
	display: none;
}

#add_contact_form_added > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
}

#add_contact_form_container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 340px;
	height: auto;
	background: white;
	-moz-box-shadow: 0 0  30px #888;
	-webkit-box-shadow: 0 0  30px #888;
	box-shadow: 0 0  30px #888;
	border-radius: 5px;
	padding: 15px 20px;
	display: none;
	align-items: center;
}

#add_contact_form_content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 15px 20px;
}

#add-timeline-btn {
	border: none;
	padding: 8px 18px;
	background: #7cb342;
	border-radius: 5px; 
	color: #ffff;
	cursor: pointer;
}

#add-timeline-btn:hover {
	background: #8bc34a;
}

/*green*/
.approve { 
	background: #8bc34a;
}
/*yellow*/
.pending {
	background: #ffca28;
}
/*red*/
.disapproved {
	background: #f44336;
}

.approve_btn {
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 15px;
    border: none;
    cursor: pointer;
    background: #00e676;
    color: white;
}

.approve_btn:hover {
	opacity: 0.9;
}

.disapprove_btn {
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 15px;
    border: none;
    cursor: pointer;
    background: #ff1744;
    color: white;
}

.disapprove_btn:hover {
	opacity: 0.9;
}

.approve_button_yes {
    padding: 5px 10px;
    border: none;
    background: #2ecc71;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.approve_button_yes:hover {
	opacity: 0.9;
}

.approve_button_no {
	padding: 5px 10px;
	border: none;
	background: #e74c3c;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}

.approve_button_no:hover {
	opacity: 0.9;
}

#approve_invite_container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255, 0.8);
	z-index: 999;
	display: none;
}

#approve_invite_form {
	position: absolute;
	top: 40%;
	left: 40%;
	width: 20%;
	height: 20%;
	background: white;
	border-radius: 5px;
	-moz-box-shadow: 0 0 30px #888;
	-webkit-box-shadow: 0 0 30px#888;
	box-shadow: 0 0 30px #888;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px 15px;
}

.badge_notification {
	position: absolute;
	height: 1vh;
	width: 1vh;
	background: red;
	opacity: 0.7;
	border-radius: 50%;
	font-weight: 600;
	color: white;
	font-size: 5px;
	margin-left: 5px;
	display: none;
}

.big_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.biglayer{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.bg {
	background: #e3b04b;
	color: #2b2b28;
}

.booking_info {
	width: 60%;
	padding: 5px 5px;
	margin-bottom: 50px;
}

.booking_info th, .booking_info td {
	padding: 10px 15px;
	border: 0.05em solid #dcdcdc;
}

#boxshadow::after {
	content: '';
	position: absolute;
	z-index: -1; /* hide shadow behind image */
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);        
	width: 70%; 
	left: 15%; /* one half of the remaining 30% */
	height: 100px;
	bottom: 0;
}

.btn-alert {
	padding: 3px 8px;
	border: none;
	border-radius: 5%;
	margin-left: 5px;
	color: white;
	background: #7dcea0;
	cursor: pointer;
}

.btn-alert-cancel {
	padding: 3px 8px;
	border: none;
	border-radius: 5%;
	margin-left: 5px;
	color: black;
	background: #ccd1d1;
	cursor: pointer;
}

.btn_end_vote {
	padding: 10px 15px;
	background: #2ecc71;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn_end_vote:hover {
	opacity: 0.9;
}

#btn-register{
	border-radius: 10px;
	height: 40px;
	background-color: green;
	color: white;		
}

#btn-seemore{
	border-radius: 10px;
	height: 40px;
	background-color: blue;
    color: white;
}

.btn_style {
	border: 0.05em solid #cfd8dc;
	float: left;
	margin-right: 10px;
	opacity: 1.0;
	cursor: pointer;
	padding: 10px 20px;
	background: #ffff;
}

.btn_style:hover {
	opacity: 0.9;
	background: #fffde7;
}


.btn_style i {
	margin-right: 10px;
}

.card{
    background-color: rgba(255,255,55,0.6)!important;
}

.close-action-icon {
	position:absolute;
	right:2%;
	opacity: 0.7;
	cursor: pointer;
}

.close-action-icon:hover{
	opacity: 1;
}

.close_approve_container {
    cursor: pointer;
}

#close_tdetail {
	opacity: 0.4;
	cursor: pointer;
}

#close_tdetail:hover {
	opacity: 0.5;
}

.col_notification {
    width: 25%;
}

.col_timeline {
    width: 75%;
    padding-right: 0!important;
    padding-left: 5px!important;
}

.company_logo {
	position: absolute;
	border-radius: 50%;
	border: 0.05em solid white;
	height: 200px;
	width: 200px;
	top: 20vh;
	right: 5vh;
	z-index: 81;
}

.company_logo_base {
	position: absolute;
	border-radius: 50%;
	border: 0.5em solid green;
	height: 200px;
	width: 200px;
	top: 20vh;
	right: 5vh;
	z-index: 80;
}

#confim_end_event {
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	background: green;
	color: white;
	cursor: pointer;
}

#confim_end_event:hover {
	opacity: 0.9;
}

.content_company {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 50vh;
	min-width: 100%;
}

.content_company_menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 70%;
	font-size: 17px;
	letter-spacing: 4px;
	height: 8vh;
	/*background: pink;*/
}

.content_company_menu div {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	height: 100%;
	cursor: pointer;
}

.content_company_menu div:hover {
	border: 0.05em solid #d4af37;
}

#confirm_update {
    position: fixed;
    background: white;
    top: 25%;
    left: 40%;
    height: 180px;
    width: 300px;
    -moz-box-shadow: 0 0 30px #888;
    -webkit-box-shadow: 0 0 30px#888;
    box-shadow: 0 0 30px #888;
    z-index: 999;
    display: none;
}

#count_inbox_badge {
	background: #ec7063;
	color: white;
	font-weight: bold;
	padding: 3px 8px;
	border-radius: 50%;
	margin-left: 15px;
}

#create_event_form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1100px;
	height: auto;
	background: #fff;
	border-width: 2px;
	-moz-box-shadow: 0 0  30px #888;
	-webkit-box-shadow: 0 0  30px #888;
	box-shadow: 0 0  30px #888;
	border-radius: 1%;
	padding: 20px 30px;
	display: none;
	z-index: 99;
}

#create_event_form .row:nth-child(1) {
	border-bottom: 2px solid #fae5d3;
}

#create_event_form .row:nth-child(2) {
	padding-top: 20px;
}

#create_event_form .row:nth-child(3) {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 40px;
}

#create_timeline_form {
	display: none;
	position: fixed;
	top:15%;
	left:20%;
	width: 60%;
	height: auto;
	background: white;
	-moz-box-shadow: 0 0  30px #888;
	-webkit-box-shadow: 0 0  30px #888;
	box-shadow: 0 0  30px #888;
	z-index: 99;
	border-radius: 5px;
}

#dashboard_loading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

#dashboard_loading div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#dashboard_loading div img {
	width: 6%;
}

.date_form {
	padding: 6px 10px;
	margin-left: 3px;
	width: 170px;
	border: 0.11em solid #a7a7a7;
	border-radius: 4px;
}

#div_logo {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:82;
    text-align: center;
}

#dp_uploader_container {
	display: none;
	position: absolute;
	height: auto;
	width: 20%;
	top: 30%;
	left: 40%;
	background: white;  
	padding: 20px 20px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 2px #888;
}

#edit-icon {
	opacity: 0.7;
	cursor: pointer;
}

#edit-icon:hover {
	opacity: 0.9;
}

#edit_timeline {
	display: none;
	position: fixed;
	top: 17%;
	left: 15%;
	min-height: 50%;
	width: 70%;
	background: #fff;
	border-radius: 5px;
	padding: 20px 25px;
	-moz-box-shadow: 0 0 30px #888;
	-webkit-box-shadow: 0 0 30px #888;
	box-shadow: 0 0 30px #888;
	margin-bottom: 15%;
}

#eec_1 {
	width: 100%;
	height: auto;
	display: none;
}

.eec_1_content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center!important;
	vertical-align: center!important;
	margin-bottom: 15px;
}

.eec_1_content div:nth-child(1) {
	width: 10%;
	margin-right: 15px;
}

.eec_1_content div:nth-child(2) {
	width: 60%;
	font-size: 16px;
	opacity: 0.7;
}

.eec_1_content div:nth-child(3) {
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.eec_1_content div:nth-child(1) > div {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#eec_2 {
	position: absolute;
	width: 100%;
	height: 100%!important;
}

.eec_2_content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.eec_2_content img {
	width: 20%!important;
}

#eec_3 {
	width: 100%;
	height: auto;
	display: none;
}

.eec_3_content {
	/*position: absolute;*/
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	z-index: 999;
}

#end_event_container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(255,255,255,0.8);
	z-index: 999;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
}

#end_event_form {
	position: absolute;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	background: white;
	-moz-box-shadow: 0 0 30px #888;
	-webkit-box-shadow: 0 0 30px #888;
	box-shadow: 0 0 30px #888;
	border-radius: 10px;
	padding: 5px 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#end_event_form > #end_event_header {
	width: 100%;
	padding: 15px 0;
	border-bottom: 0.05em solid #d4af37;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#end_event_form > #end_event_content {
	width: 100%;
	padding: 2px 0;
	position: relative;
	padding-bottom: 20px;
}

#event_cal {
	position: relative;
}

.event_list_card {
	width: 100%;
	height: 110px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border: 0.05em solid #cfd8dc;
	cursor: pointer;
}

.event_list_card #first_child {
	width: 5%;
	height: 100%;
	background: #2ecc71;
}

.event_list_card #second_child {
	width: 95%;
	height: 100%;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.event_list_card:hover > #first_child {
	background: #58d68d;
}

.event_list_card_requested {
	width: 100%;
	min-height: 110px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border: 0.05em solid #cfd8dc;
}

.event_list_card_requested #first_child {
	width: 5%;
	height: 100%;
	background: #f1c40f;
}

.event_list_card_requested #second_child {
	width: 95%;
	height: 100%;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.event_list_card_requested:hover > #first_child {
	background: #f4d03f;
}

.event_table {
	width: 100%;
	background: #fff;
}

.event_table th, .event_table td {
	-webkit-border: 0.05em solid #dcdcdc;
	border: 0.05em solid #dcdcdc;
	padding: 5px 8px;
	font-size: 12px;
}

.event_table tbody tr {
	cursor: pointer;
}

.event_table tbody tr:hover {
	background: #f9f9f9;
}

.events_table_container {
	width: 100%;
	height: 100%;
}

.ext-tags {
	background: #888;
	color: #fff;
	padding: 8px 10px;
	font-size: 1.0em;
	border-radius: 5px;
	border: 0.1em solid #999;
	margin-right: 10px;
	margin-bottom: 10px;    
}

.ext-tags-space {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;  
}

.external_footer {
	padding: 2% 10%;
	width: 100%;
	background: #e3b04b;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.external_footer > div {
	width: 20%;
	padding: 10px 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.external_footer > div > a {
	margin-bottom: 10px;
	color: #2b2b28;
}

.external_footer > div > a:hover {
	color: #fff;
}

.external_footer_bottom {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	background: #2b2b28;
	margin-top: -5px;
}

.filter_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-std {
	width: 100%;
	background: #f5f5f5;
	padding: 7px 7px;
	margin-bottom: 10px;
	border: none;
	border-radius: 3px;
}

.form-std:focus {
	border: 0.2em solid #c5cae9;
}

.form_switch {
	padding: 5px 5px;
	opacity: 0.5;
	width: 100%;
	height: 30px;
	font-size: 20px;
	cursor: pointer;
}

.form_switch:hover {
	background: #f1f1f1;
}

.form_switch > div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#form-switch-text {
	font-size: 15px;
	margin-left: 2%;
}

.header-company {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	/*background: #fa8072;*/
	background: maroon;
	/*border-top-right-radius: 5px;*/
	/*border-top-left-radius: 5px;*/
	color: #fff;
	text-align: center;
	padding: 8px 20px;
}

.header-company-tab {
	padding-right: 20px;
	padding-left: 20px;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 2px;
	border-left: 0.05em solid #fff;
	cursor: pointer;
}
.header-company-tab:hover {

}
.header-company-tab-active {
	padding-right: 20px;
	padding-left: 20px;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 2px;
	border-left: 0.05em solid #fff;
	cursor: pointer;
	color: #d4af37;
}

.info-panel {
	margin-left: 300px;
}

.info-panel-2 {
	padding: 0 15px 0 15px;
}

#invite_form {
	display: none;
	position: fixed;
	top: 35%;
	left: 30%;
	width: 40%;
	height: auto;
	background-color: white;
	border-radius: 5px;
	padding: 15px 15px;
	-moz-box-shadow: 0 0  30px #888;
	-webkit-box-shadow: 0 0  30px #888;
	box-shadow: 0 0  30px #888;
}

#label-category{
	background-color: white;
	align-self: flex-start;
	width: 18%;
	height: 60px;
	padding-top: 8px;
	margin-top: 5px;
	border-radius: 10px 10px 0 0;  
	border: none;     
}

#label-category p{
	font-weight: bold;
	opacity: 0.4;
}

.leftlayer{
    width:30%;
    height:100%;
    z-index:80;
    background: rgba(255, 255, 255, 0);
}
.midlayer {
    width:40%;
    height:100%;
    z-index:80;
    background: linear-gradient(to bottom right,rgba(212, 175, 55, 0) 50%,rgba(212, 175, 55, 0) 0%,rgba(255, 255, 255, 0.5) 50%,rgba(255, 255, 255, 0.5) 0%);
}

.rightlayer{
    width:30%;
    height:100%;
    z-index:80;
    background: rgba(255, 255, 255, 0.5);
}

#logo_text_container {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 30%;
    cursor: pointer;
    z-index: 999;
}

#logo_uploader_container {
	display: none;
	position: absolute;
	min-height: 40%;
	width: 20%;
	top: 30%;
	left: 40%;
	background: white;  
	padding: 20px 20px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 2px #888;
}

#logo_text_container:hover {
    /*background: yellow;*/
}

#logo_text_container:hover  #std_logo_text {
    top: 80%!important;
    opacity: 1;
}

#logo_text_container:hover  #std_logo {
    margin-top: -5%!important;
    opacity: 1;
    filter:drop-shadow(-7px -5px 6px grey);
}

.main_timeline_col {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start!important;
}

.mobile_alert_view {
	display: none;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	/*background: green;*/
}

.mobile_alert_view_content {
	height: 100%;
	width: 100%;
	padding: 40% 5%;
	/*background: pink;*/
}

.mobile_alert_view_content > p {
	font-weight: 600;
	color: red;
}

#myTimeline {
	width: 100%!important;
	background: #fbfcfc;
	border-radius: 4px;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	background-repeat:no-repeat;
	min-width: 100%; 
	min-height: 100%;
	opacity:0.8;  
}

.no_timeline {
	padding: 20px 20px;
}

.no_timeline > span {
	opacity: 0.8;
}

.notification-tcard-content {
    background: #fff;
    border-radius: 2px;
    padding: 10px 10px;
    border: 0.05em solid #cfd8dc;
    margin-bottom: 10px;
    font-size: 12px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.notification-tcard-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 6px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.panel-title {
    border: 0.05em solid #cfd8dc;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: -20px;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
}

.plus_btn {
	padding: 2px 5px!important;
	opacity: 0.8;
	border-radius: 50%;
	cursor: pointer;
}

.plus_btn:hover {
	opacity: 1;
	background-color: #239f95;
	color: #fff;
}

#print_btn {
	background: #00897b;
	border: none;
	border-radius: 5px;
	color: #fff;
	padding: 5px 15px;
}

.rate_link {
	padding: 8px 12px;
	background: yellow;
	color: black;
	border: none;
	border-radius: 5px;
	margin-right: 20px;
	cursor: pointer;
	display: none;
}

.rate_link:hover {
	opacity: 0.8;
}

.rate-space {
	position: absolute;
	top: 0;
	right: 0;	margin-top: 5px;
	margin-right: 40px;
	font-size: 1.1em;
}

#reject_remark {
	background: white;
	position: fixed;
	top: 28%;
	left: 30%;
	height: auto;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	-moz-box-shadow: 0 0 30px #888;
	-webkit-box-shadow: 0 0 30px#888;
	box-shadow: 0 0 30px #888;
	border-radius: 5px;
	padding: 15px 20px;
	padding-bottom: 25px!important;
}

#reject_remark_clearcart {
	background: white;
	position: fixed;
	top: 33%;
	left: 30%;
	height: 20%;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	-moz-box-shadow: 0 0 30px #888;
	-webkit-box-shadow: 0 0 30px#888;
	box-shadow: 0 0 30px #888;
	border-radius: 5px;
	padding: 15px 20px;
}

#reject_remark_container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh!important;
	background: rgba(255,255,255, 0.6);
	z-index: 101;
}

.result_container {
	width: 80%;
	min-height: 10%;
	margin: 0 10%;
	padding: 20px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.result_container_empty {
	padding: 1% 5%;
	min-height: 35vh;
}

.review_main_container {
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
}

.section-header {
	margin-top: 20px;
	height: 300px;
}

.section-sub-header {
	height: 40%;
	background: #fff;
	/*border: 0.05em solid #dcdcdc;*/
}

.section-profile-img {
	z-index: 99;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 1;
	margin-top: 20px;
	margin-left: 40px;
	display: flex;
	justify-content: center;
	align-items: center; 
	cursor: pointer;
}

#send_alert {
	display: none;
	position: fixed;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 210px;
	background: #fff;
	-moz-box-shadow:0 0 30px #888;
	-webkit-box-shadow:0 0 30px #888;
	box-shadow: 0 0 30px #888;
	border-radius: 2%;
	padding: 20px 30px;
	z-index: 99999999;
}

#send_alert_invite {
	display: none;
	position: fixed;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 170px;
	background: #fff;
	-moz-box-shadow:0 0 30px #888;
	-webkit-box-shadow:0 0 30px #888;
	box-shadow: 0 0 30px #888;
	border-radius: 2%;
	padding: 20px 30px;
	z-index: 99999999;
}

.small-p{
	font-size:13px;
	color: #d4af37;
	text-align: center;
	width: 100%;
}

.social_page {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 0 20%;
	color: #fff!important;
}

.social_page > div > img {
	width: 80%;
	cursor: pointer;
}

.std-btn {
	padding: 10px 20px;
	background: #09ce61;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 10px;
	float: left;
	height: 100%;
}

.std-btn:hover {
	background: #09bf5a;
}

.std-btn-plain {
	padding: 10px 15px;
	border: 0.05em solid #dcdcdc;
	background: white;
}

.std-btn-plain:hover {
	background: #f9f9f9;
}

.std_info {
	font-weight: bold;
}

.std-label {
	opacity: 0.8;
	font-style: italic;
	font-size: 0.9em;
}

.std-link {
    text-decoration: none;
    color: #cfd8dc;
}

.std-link:hover {
	color: #90a4ae;
}

#std_logo {
    width: 40%;
    filter:drop-shadow(5px 5px 8px grey);
    -webkit-transition: margin-top 1s, filter 1s, width 1s;
    z-index: 99;
}

#std_logo_text {
    position: absolute;
    top: 50%;
    width: 100%;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 800; 
    color: white;
    -webkit-text-stroke: 1px #23430C;
    text-shadow: -1px 1px 2px #23430C,
            1px 1px 2px #23430C,
            1px -1px 0 #23430C,
            -1px -1px 0 #23430C;
    line-height: 20px;
    z-index: 99;
    -webkit-transition: top 0.7s, opacity 1s;
    opacity: 0;
}

.std-timeline {
    width: 100%;
    min-height: 250px;
    background: #ffff;        
    padding: 20px 20px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 2px #888;
}

.std-timeline-banner {
    position: relative;
    height: auto;
    background: #ffff;        
    padding: 20px 20px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 2px #888;
    margin: 20px 0 5px 0;
}

.std-timeline-banner-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.std-timeline-banner-info {
    width: 100%;
    padding: 20px 20px;
    font-size: 14px;
}

.std-timeline-banner-info-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#std-timeline-banner-option-popup {
    position: absolute;
    top: 35px;
    right: 15px;
    width: 200px;
    height: auto;
    background: white;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 2px #888;
    z-index: 99;
    padding: 10px 10px 5px 10px;
    display: none;
}

#std-timeline-banner-option-popup-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.std-timeline-banner-option-popup-content-text {
	opacity: 0.5;
	cursor: pointer;
	margin-bottom: 5px;
}

.std-timeline-banner-option-popup-content-text > a {
	opacity: 0.5!important;
	cursor: pointer!important;
	margin-bottom: 5px!important;
	color: #000!important;
}

.std-timeline-banner-option-popup-content-text:hover {
	opacity: 0.8;
}

.std-timeline-banner-option-popup-content-text > a:hover {
	opacity: 0.8;
	color: #000!important;
}

.std-timeline-banner-transaction {
    width: 100%;
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
    margin-bottom: 15px;
}

.std-timeline-banner-vendors {
	padding: 10px 2%;
	height: auto!important;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.std-timeline-body {
    width: 100%!important;
    background: #ffff;
    border: 0.05em solid #cfd8dc;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.std-timeline-body:hover {
    background: #fbfcfc;
}

.std-timeline-sidebar {
    background: #fff;        
    padding: 20px 20px!important;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 2px #888;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}


.std-timeline-sidebar-btn {
    border: 0.05em solid #cfd8dc;
    border-radius: 1px;
    padding: 5px 10px;
    background: #f5f5f5;
    float: right;
    cursor: pointer;
}

.std-timeline-sidebar-btn:hover {
    background: #EEEEEE;
}

.tags {
	background: #888;
	color: #fff;
	padding: 8px 10px;
	font-size: 1.0em;
	border-radius: 5px;
	border: 0.1em solid #999;
	margin-right: 1px;      
}

.tags-space {
	margin-top: 40px;
	margin-left: 300px;     
}

#timeline {
	width: 89%!important;
}

.timeline-date {
	font-style: italic;
	font-size: 1.2em;
}

.timeline_form_child_1 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.timeline_form_child_4 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.timeline_form_child_4 div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#timeline_loader {
	height: 200px;
	width: 100%;
}

#timeline_loader div {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#timeline_loader div img {
	width: 20%;
}

.three-inline-box-std {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.three-inline-box-std > div {
	margin-right: 60px;
}

#transaction_table {
	width: 100%;
	border-top: 0.05em solid #dcdcdc;
	opacity: 0.6;
}

#transaction_table td, #transaction_table th {
	padding: 5px 5px;
}

.vend_pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid #fff;
    object-fit: cover;
}

.vend_pic:hover {
	border: 10px solid #f8f8f8;
}

.vendor_select {
    margin-left: 30px;
    height: 30px;
    width: 200px;
    padding-left: 10px;
}

.vendors-tcard {
    position: relative;
    border: 0.05em solid #cfd8dc;
    border-radius: 4px;
    width: 100%;
    height: 30px!important;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 13px;
}

.vendors-tcard:hover {
    -moz-box-shadow: 0 0 1px #888;
    -webkit-box-shadow: 0 0 1px#888;
    box-shadow: 0 0 1px #888;
}

.vendors-tcard:hover .vendors-tcard-name {
    margin-right: -15%;
    opacity: 0;
}

.vendors-tcard:hover .vendors-tcard-add-contact {
    left:5%;
    opacity: 1;
}

.vendors-tcard-add-contact {
    position: absolute;
    left:-20%; 
    top:50%;
    transform: translate(0, -50%);
    opacity: 0;
    -webkit-transition: left 0.2s, opacity 0.3s
}

.vendors-tcard-disable {
    position: relative;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 30px!important;
    margin-bottom: 5px;
    font-size: 13px;
    background: #145374;
    color: #fff;
}

.vendors-tcard-name {
    position: absolute;
    left:5%; 
    top:50%;
    transform: translate(0, -50%);
    -webkit-transition: margin-right 0.2s, opacity 0.2s;
}

.vendors-tcard-name-contact {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 1;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.vendors-tcard-name-invite-alert {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 1;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #e65100;
    color: #fff;
    padding: 0 5%;
    border-radius: 3px;
}

.vendors-tcard-name-invite-alert:hover {
    opacity: 0.9;
}

#view_timeline_content {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	padding: 0.6% 1.5%!important;
	min-height: 20%;
	width: 70%;
	background: #fff;
	border-radius: 5px;
	-moz-box-shadow:0 0 30px #888;
	-webkit-box-shadow:0 0 30px #888;
	box-shadow: 0 0 30px #888;
	margin-bottom: 15%;
	z-index: 999;
}

#view_timeline_content_desc {
	padding: 10px;
	border: 0.05em solid #dcdcdc;
	opacity: 0.8;
	max-height: 500px;
	overflow-x: scroll;
}

.view_timeline_content_info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px 0;
}

.view_timeline_content_info_label {
	border: 0.05em solid #f1f1f1;
	padding: 5px 15px;
	border-radius: 5px;
}

.voted {
	color: green;
	opacity: 0.6;
}

@media (max-width: 600px){
	body {
		background-image: url('myasset/img/babout.jpg');
	}

	.big_container {
		margin-top: 7%;
		padding: 20px 2.5%;
	}

	.biglayer{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		background-image: url('babout.jpg');
	}

	.col_notification {
		width: 100%;
	}

	.col_timeline {
		width: 100%;
		margin: 0;
		padding: 0;
		padding-left: 0!important;
		margin-bottom: 10px!important;
    }

    .company_logo {
		position: absolute;
		border-radius: 50%;
		border: 0.05em solid white;
		height: 70px!important;
		width: 70px!important;
		top: 25vh!important;
		right: 3vh;
		z-index: 81;
	}

	.company_logo_base {
		position: absolute;
		border-radius: 50%;
		border: 0.5em solid #dcdc!important;
		height: 70px!important;
		width: 70px!important;
		top: 25vh!important;
		right: 3vh;
		z-index: 80;
		background: green!important;
	}

	.content_company {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: auto!important;
		width: 100%;
	}

	.content_company_menu {
		display: flex;
		flex-direction: column;
		justify-content: center!important;
		align-items: center;
		width: 100%;
		font-size: 17px;
		letter-spacing: 4px;
		height: 250px!important;
	}

	.content_company_menu > div {
		flex-grow: 1;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		height: 60px!important;
		cursor: pointer;
	}

	#div_logo {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:82;
		text-align: center;
	}

	#edit-icon {
		display: none;
    }

	.external_footer {
		padding: 2% 10%;
		width: 100%;
		background: #e3b04b;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.external_footer > div {
		width: 100%;
		padding: 10px 10px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.filter_row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		height: 20%;
	}

	#invite_form {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		height: auto;
		background-color: white;
		border-radius: 5px;
		padding: 15px 15px;
		-moz-box-shadow: 0 0  30px #888;
		-webkit-box-shadow: 0 0  30px #888;
		box-shadow: 0 0  30px #888;
	}

	.leftlayer{
		width:0;
		height:100%;
		z-index:80;
		background: rgba(255, 255, 255, 0);
	}
	.midlayer {
		width:100%;
		height:100%;
		z-index:80;
		background: rgba(255,255,255, 0.6);
	}

	.rightlayer{
		width:0;
		height:100%;
		z-index:80;
		background: rgba(255, 255, 255, 0.5);
	}

	#myVideo {
		position: fixed;
		right: 0;
		bottom: 0;
		background-repeat:no-repeat;
		max-width: 100%; 
		max-height: 100%;
		opacity:0.8;
		display: none;
	}

	.navbar-brand img {
		width: 80%!important;
		height: 80%!important;
	}

	#print_btn {
		background: #00897b;
		border: none;
		border-radius: 5px;
		color: #fff;
		padding: 5px 15px;
		width: 100%!important;
	}

	#print_btn_section {
		width: 100%;
	}

	#std_logo {
		width: 100%;
		filter:drop-shadow(5px 5px 8px grey);
		-webkit-transition: margin-top 1s, filter 1s, width 1s;
		z-index: 99;
	}

	.std-timeline-banner {
		margin: 0;
		width: 100%;
		margin-bottom: 10px;
	}

	.std-timeline-banner-info {
	    width: 100%;
	    padding: 20px 10px;
	    font-size: 14px;
	}

	.std-timeline-banner-info-detail {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.std-timeline-banner-info-detail > div {
		margin-bottom: 10px;
	}

	.timeline_form_child_1 {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 15px;
    }

    .timeline_form_child_1 div {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 15px;
    }

    .timeline_form_child_4 {
		width: 100%;
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 10px;
    }

    .timeline_form_child_4 > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
    }

    .vendor_select {
		margin-left: 0;
		height: 30px;
		width: 100%;
		margin-bottom: 15%;
		padding-left: 10px;
	}

	#view_timeline_content {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
	    transform: translate(-50%, -50%);
		padding: 0.6% 1.5%!important;
		min-height: 20%;
		width: 90%;
		background: #fff;
		border-radius: 5px;
		-moz-box-shadow:0 0 30px #888;
		-webkit-box-shadow:0 0 30px #888;
		box-shadow: 0 0 30px #888;
		margin-bottom: 15%;
		z-index: 999999;
	} 

	#view_timeline_content_desc {
		padding: 10px;
		border: 0.05em solid #dcdcdc;
		opacity: 0.8;
		max-height: 300px;
		overflow-x: scroll;
	}

	.view_timeline_content_info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 15px 0;
	}

	.view_timeline_content_info > div {
		margin-bottom: 10px;
	}

}

@media (min-width: 200px) and (max-width: 600px){
	.main_timeline_col {
	    width: 100%;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap-reverse;
	    justify-content: space-between;
	    align-items: center!important;
	}

	.std-footer {
		display: none;
	}
}
